@model IEnumerable<_1911065522_PhungXuanDoan_BigSchool.Models.Course>
@{
    ViewBag.Title = "Mine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mine</h2>
<ul class="course">
    @foreach (var course in Model)
    {
        <li>
            <div class="date">
                <div class="month">
                    @course.DateTime.ToString("MM")
                </div>
                <div class="day">
                    @course.DateTime.ToString("dd")
                </div>
            </div>
            <div class="details">
                <span class="lecturer">
                    @course.Lecturer.Name
                </span>
                <span class="category">
                    @course.Category.Name
                </span>
            </div>
            <div class="action">
                <a href="@Url.Action("Edit", "Courses", new { id = course.Id})">Edit</a>
                <a href="#" class="js-cancel-course" data-course-id="@course.Id">Cancel</a>
            </div>
        </li>
    }
<div class="container">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</div>
</ul>
@section scripts{
        <script>
            $(document).ready(
                function () {
                    $(".js-cancel-course").click(function (e) {
                        e.preventDefault();
                        var link = $(e.target);
                        bootbox.confirm("Are you sure to cancel?",
                            function () {
                                $.ajax({
                                    url: "/api/courses/" + link.attr("data-course-id"),
                                    method: "DELETE"
                                })
                                    .done(function () {
                                        link.parents("li").fadeOut(function () {
                                            $(this).remove();
                                        });
                                    })
                                    .fail(function () {
                                        alert("Something failed!");
                                    });
                            });
                    });
                });
        </script>
    }
